{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Search Bar -->
    <form action="{{ url_for('book_bp.get_books') }}" method="GET" class="d-flex">
        <input type="text" name="query" class="form-control me-2" placeholder="Search by title or author" value="{{ search_query or '' }}">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

<!-- Welcome message -->
<div class="text-center mt-5">
    <h1>Welcome to the Library Book Management System!</h1>
</div>
{% endblock %}